@import "common";
@import "buttons";

body {
  background-color: $primary-color;
}

.main {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 56px;
  }

  p {
    font-size: 24px;
  }

  &__header {
    p, h1 {
      color: #ffffff;
      text-align: center;
    }
  }
}

.form-wrapper {

  background: #fff;
  padding: 24px 24px 16px 24px;
  border-radius: 8px;
  margin: 32px 0 0 0;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.20), 0px 6px 30px 0px rgba(0, 0, 0, 0.12), 0px 16px 24px 0px rgba(0, 0, 0, 0.14);
  p{
    text-align: center;
    color: $dark-color;
    font-size: 16px;
    margin-top: 0;
  }

  &__header {
    text-align: center;
  }

  &__errors {
    margin-top: 8px;

    p {
      color: red;
      text-align: center;
      margin: 0 auto;
      max-width: 200px;
    }

  }

  &__form {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    row-gap: 12px;

    input {
      padding: 8px;
      border: solid 1px $dark-color;
      border-radius: 8px;
    }

  }

  &__form_add {
    text-align: center;
    text-decoration: none;
    color: $btn-color;
    font-size: 16px;
    display: block;
    line-height: 12px;
    margin: 8px;

    &:hover{
      color: $primary-color;
    }
  }

}

#signup-form {
  display: none;
}